[alias]
        # Basic commands
        ci = commit
        co = checkout
        st = status
        br = branch
        cp = cherry-pick
        f = fetch
        fo = fetch origin
        m = merge
        rb = rebase
        # Add operations
        a = add
        aa = add .
        # Pull/Push operations
        l = pull
        lo = pull origin
        p = push
        po = push origin
        pfwl = push --force-with-lease
        # Utility commands
        count = shortlog -sn
        oops = commit --amend --no-edit
        reword = commit --amend
        uncommit = reset --soft HEAD~1
[branch]
        sort = -committerdate
[color]
        ui = auto
[column]
        ui = auto
[core]
        excludesfile = ~/.gitignore
[diff]
        algorithm = histogram
        colorMoved = plain
        mnemonicPrefix = true
        renames = true
[fetch]
        prune = true
        pruneTags = true
        all = true
[init]
        defaultBranch = main
[push]
        default = simple
        autoSetupRemote = true
        followTags = true
[tag]
        sort = version:refname
